$primaryColor: #173a8c;
$primaryDarkColor: #173a8c;
$primaryLightColor: #9fa8da;
$accentColor: #E4007E;
$accentDarkColor: #ad1457;
$accentLightColor: #f48fb1;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';