<div class="layout-wrapper" [ngClass]="{'layout-compact':layoutCompact}">
    <div class="layout-container">
        <app-header></app-header>
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>
