<div class="topbar" [ngClass]="{'layout-menu-dark':darkMenu}">
    <div class="topbar-left">
        <button type="button" pButton routerLink="/" icon="ui-icon-home"
                label="{{ 'HEADER.home' | translate }}"></button>
    </div>
    <div class="topbar-right">
        <ul class="topbar-items">
            <button *ngIf="!(authState | async).authenticated" type="button" pButton routerLink="/signin"
                    icon="ui-icon-input"
                    label="{{ 'HEADER.log_in' | translate }}"></button>
            <button *ngIf="(authState | async).authenticated" type="button" pButton routerLink="/detail" icon="ui-icon-book"
                    label="{{ 'HEADER.detail' | translate }}"></button>
            <button *ngIf="(authState | async).authenticated" type="button" pButton (click)="onLogout()"
                    icon="ui-icon-exit-to-app"
                    label="{{ 'HEADER.log_out' | translate }}"></button>
        </ul>
    </div>
</div>
