/* You can add global styles to this file, and also import other style files */

/* Force vertical scrolling, this way the layout doesn't jump when the content is longer than the viewport.*/
html {
    overflow-y: scroll;
}

/*  Fix Overlay of right panel */
.layout-container .layout-rightpanel {
    z-index: 99 !important;
}

.layout-container .topbar {
    background: linear-gradient(135deg, #e43287 0%, #009ddd 100%);
    .topbar-left {
        background-color: transparent;
        box-shadow: none;
    }
}
