<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1 class="first">{{ 'AUTH.sign_in_form' | translate }}</h1>
            <div class="ui-g form-group">
                <form (ngSubmit)="onSignIn(f)" #f="ngForm">
                    <div class="card">
                        <div class="ui-g-12 ui-md-6">
                            <span class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="fa ui-icon-account-box"></i></span>
                                <input type="text" name="username" pInputText
                                       placeholder="{{ 'AUTH.username' | translate }}" ngModel required
                                       class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <span class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="fa ui-icon-lock"></i></span>
                                <input type="password" name="password" pPassword
                                       placeholder="{{ 'AUTH.password' | translate }}" ngModel required
                                       class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            </span>
                        </div>
                        <div class="ui-md-4">
                            <button pButton type="submit"
                                    class="ui-button ui-widget"
                                    [disabled]="!f.valid">
                                <span class="ui-button-text ui-clickable">{{ 'AUTH.sign_in' | translate }}</span>
                                <span class="ink ripple-animate"
                                      style="height: 380px; width: 380px; top: -171.188px; left: 8px; pointer-events: none;"></span>
                            </button>
                        </div>
                        <div *ngIf="(authState | async).fail" style="color: #E91E63;">
                            {{ 'AUTH.fail' | translate }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
