$primaryColor: #4C495C;
$primaryDarkColor: #173a8c;
$primaryLightColor: #9fa8da;
$accentColor: #E4007E;
$accentDarkColor: #ad1457;
$accentLightColor: #f48fb1;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #9fa8da;
$lightMenuRouterLinkActiveColor: #3F51B5;
$horizontalLightMenuRouterLinkActiveColor: #9fa8da;


@import '../../sass/layout/_layout';