$textColor: #212121;
$textSecondaryColor: #757575;
$fontSize: 16px;
$lineHeight: 1.5em;
$borderRadius: 0px;
$headerFontSize: 1em;
$headerPadding: .25em 0.5em;
$contentFontSize: 1em;
$contentPadding: .25em 0.5em;
$inputHeaderFontSize: 1em;
$inputHeaderPadding: .625em 1em;
$inputFontSize: 1em;
$buttonFontSize: 1em;
$inputOptionFontSize: 1em;
$inputOptionPadding: .625em .875em;
$hoverBgColor: #e8e8e8;
$hoverTextColor: #000000;
$dividerColor: #bdbdbd;
$dividerLightColor: #cacaca;
$grayBgColor: #757575;
$iconFontSize: 1.2em;
$invalidInputLabelColor: #e62a10;
$invalidInputBorderColor: #e62a10;

/* Compact */
$c-fontSize: 14px;
$c-lineHeight: 18px;